<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Styles -->
        {{ "main.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">

            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}

        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "nav.js" | asset_url | script_tag }}
        {{ "main.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}

    </body>
</html>
