{% block content %}

<div class="container">
	<div class="wrapper-main shadow">

		<!-- HEADER -->
		{% include "header" %}

		<!-- MAIN -->
		<div class="container-main">
			<!-- SIDEBAR -->
			<div id="navDesktop" class="col-sm-3">
				{% include "navigation" %}
			</div>
			<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="wrapper-content shadow">
					<header class="header-image-container">
						<img src="{{ "image-overlay.png" | asset_url }}" class="img-responsive image-overlay hidden-xs">
						<img src="http://placehold.it/1920x500" class="img-responsive">
					</header>
					<div class="container-content">
						
						<h2>The right properties. The right time. The right partner.</h2>
						<p>Our partners and trusted associates have served the South Florida marketplace for a combined several decades. Get to know us here.</p>

						
						<div id="team-container" class="row">
							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/armando-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Armando Codina</h3>
									<p>Executive Chairman</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/ana-marie-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Ana Codina Barlick</h3>
									<p>Chief Executive Officer</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "http://placehold.it/150x150" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>K. Lawrence Gragg, Esq.</h3>
									<p>President &amp; COO</p>
								</div>
							</div>
							
							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/rafael-romero.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Rafael Romero</h3>
									<p>Chief Financial Officer</p>
								</div>
							</div>
							
							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "http://placehold.it/150x150" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Joe Jimenez</h3>
									<p>Vice President of Legal and Regulatory Affairs</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/oswaldo-betancourt.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Oswaldo Betancourt</h3>
									<p>VP, Development of Construction</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/ali-dominguez.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Ali E. Dominguez</h3>
									<p>Director of Accounting</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/mark-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Mark Julian</h3>
									<p>Director of Finance</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/gus-minguez.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Gus Minguez</h3>
									<p>Director of Construction</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/angel-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Angel Acosta</h3>
									<p>Construction Manager</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/alex-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Alexandria Iglesias</h3>
									<p>Project Manager</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/raul-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Raul De Moya</h3>
									<p>Construction Manager</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/rodrigo-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>rodrigo carrillo</h3>
									<p>Construction Manager</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/ruth-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>ruth lugo</h3>
									<p>office manager</p>
								</div>
							</div>

							<div class="img-content team col-sm-6">
								<div class="col-sm-6 no-padding">
									<a href="/people/detail">
										<img src="{{ "thumbnail/gennipher-codina.jpg" | asset_url }}" class="img-responsive">
									</a>
								</div>
								<div class="col-sm-6">
									<h3>Gennipher Perdomo</h3>
									<p>Marketing Coordinator</p>
								</div>
							</div>
						</div>

					</div>

					{% include "copyright" %}

				</div> <!-- /wrapper-content -->

			</div>
		</div> <!-- /container-main -->
	</div>
</div>

{% endblock %}